@import "../../responsive.scss";
@import "../../variables.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fece51;
          background-color: $blue-color;
          border-radius: 5px;
          cursor: pointer;
          border: none;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button {
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .details::-webkit-scrollbar {
    width: 6px;
    /* Width of the scrollbar */
  }

  .details::-webkit-scrollbar-track {
    background: #ffffff;
    /* Background color of the track */
    border-radius: 8px;
    /* Rounded corners of the track */
  }

  .details::-webkit-scrollbar-thumb {
    background: #888;
    background: #f1f1f1;
    /* Color of the scrollbar thumb */
    border-radius: 8px;
    /* Rounded corners of the thumb */
  }

  .details::-webkit-scrollbar-thumb:hover {
    background: #555;
    background: #f1f1f1;
    /* Color of the scrollbar thumb when hovered */
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
